body{
    margin-left:25%;
    margin-right:25%;
    margin-top:3%;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    color:burlywood;
}
h1{
    font-size: 2vw;
    font-weight: lighter;
    color:#964B00;
    
    
}

#header{
    display:flex;
    
}

#destination{
    margin-left:5%;
}


p{
    font-size:1.1vw;
}

.bold{
    font-weight: bold;
    font-size:1.1vw;
}

#footer{
    margin-left:10%;
}


